@model EduvisionMvc.Models.Student

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Major)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Major)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gpa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gpa)
        </dd>
        <dt class="col-sm-2">Department</dt>
        <dd class="col-sm-10">@(Model.Department != null ? Model.Department.Name : "-")</dd>
        <dt class="col-sm-2">Advisor</dt>
        <dd class="col-sm-10">@(Model.AdvisorInstructor != null ? $"Dr. {Model.AdvisorInstructor.LastName}" : "-")</dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class="col-sm-10">@(Model.Phone ?? "-")</dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AcademicLevel)
        </dt>
        <dd class="col-sm-10">@(Model.AcademicLevel ?? "-")</dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalCredits)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalCredits)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnrollmentDate)
        </dt>
        <dd class = "col-sm-10">
            @Model.EnrollmentDate.ToString("MMM dd, yyyy")
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
